@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Poiret+One|Quicksand:300');

.clock{
    
}

.dot{
    color: rgba(0, 255, 100, 0.8);
    font-size: 4rem;
}

.sec{
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
}

.time{
    font-family: "Quicksand", sans-serif;
    font-size: 7rem;
    margin-left: 3%;
}

.date{
    font-family: "Quicksand", sans-serif;
    font-size: 3.5rem;
}